*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Cards-Area{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card{
    display: flex;
    flex-direction: column;
    background: #5d6569 ;
    width: 400px;
    height: 400px;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 2px 2px 5px #9DAAB2;
    gap: 30px;
}

.dName{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    margin-top: 1em;
}

.name{
    font-size: 20px;
}

.dInfo{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-indent: 30px;
}

.Info{
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
}