*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    color: white;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: black;
    gap: 5em;
}


.area-data{
    background-color: #191919;
    width: 600px ;
    height: 30em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px ;
}

div{
    display: flex;
    flex-direction: row;
    width: 320px;
    gap: 20px;
}

div > label {
    width: 150px;
    height: 40px;
}

::-webkit-inner-spin-button,::-webkit-outer-spin-button{
    appearance: none;
}

label{
    display: flex;
    flex-direction: column;
    width: 320px;
}

input, .btns, select, option{
    color: black;
}

select{
    text-align: center;
}

.input-number{
    width: 150px;
}

#gender{
    width: max-content;
}

#buttons{
    justify-content: space-around;
    margin-top: 20px;
}

.btns{
    padding: 4px 8px;
    font-size: .92rem;
    border-radius: 5px;
    border: 1px solid transparent;
}
.btns:hover{
    background: white;
}
.btns:active{
    background: lightgreen;
}